<?xml version="1.0"?>
<web-app>
<servlet>
<servlet-name>Authentic3</servlet-name>
<servlet-class>Authentic3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Authentic3</servlet-name>
<url-pattern>/Authentic3</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Authentic4</servlet-name>
<servlet-class>Authentic4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Authentic4</servlet-name>
<url-pattern>/Authentic4</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Authentic5</servlet-name>
<servlet-class>Authentic5</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Authentic5</servlet-name>
<url-pattern>/Authentic5</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Authentic6</servlet-name>
<servlet-class>Authentic6</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Authentic6</servlet-name>
<url-pattern>/Authentic6</url-pattern>
</servlet-mapping>
</web-app>